Audio/
tmp/
rttm/
env/
__pycache__/
pytorch_xvectors/
Speacker-Diarization/
'статьи для 1 и 2 главы'/
.ip*/
pyBK/audio/
try.ipynb
pyAudioAnalysis/pyAudioAnalysis/Test.ipynb
ester_model_1024_300_150.h5